# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules
.env
/.yarn
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.yarn/cache/@carbon-icon-helpers-npm-10.24.0-48c105bee1-3caed04257.zip
.yarn/cache/@babel-parser-npm-7.15.8-4ad36dd104-73911701bc.zip
.yarn/cache/@babel-runtime-npm-7.15.4-52ce5bf6ea-64b6c250fd.zip
.yarn/cache/@carbon-icons-react-npm-10.41.0-de20f6f26a-b95004a104.zip
.yarn/cache/@carbon-telemetry-npm-0.0.0-alpha.6-6f4f97f004-4d31a35b55.zip
.yarn/cache/@dabh-diagnostics-npm-2.0.2-83eb005a83-557eff796a.zip
.yarn/cache/@sindresorhus-is-npm-4.2.0-87ea1e5c27-162aa2e413.zip
.yarn/cache/yargs-parser-npm-20.2.9-a1d19e598d-3c58da6f61.zip
.yarn/cache/color-npm-3.0.0-b8328aea55-55f17792ef.zip
.yarn/cache/clone-response-npm-1.0.2-135ae8239d-71832f9219.zip
.yarn/cache/cliui-npm-7.0.4-d6b8a9edb6-c49ac1d13f.zip
.yarn/cache/color-string-npm-1.6.0-94ed25c258-d48692037a.zip
.yarn/cache/colors-npm-1.4.0-7e2cf12234-a0f266ac04.zip
.yarn/cache/colorspace-npm-1.1.2-880999c764-88006c5864.zip
.yarn/cache/compute-scroll-into-view-npm-1.0.17-708f0ecc3d-15e88fe143.zip
.yarn/cache/configstore-npm-5.0.1-739433cdc5-81dd877bf7.zip
.yarn/cache/crypto-random-string-npm-2.0.0-8ab47992ef-7bc19f6caf.zip
.yarn/cache/decompress-response-npm-6.0.0-359de2878c-bb8b8c42be.zip
.yarn/cache/defer-to-connect-npm-2.0.1-9005cc8c60-6641e63777.zip
.yarn/cache/downshift-npm-5.2.1-21b424890b-2c616efc3e.zip
.yarn/cache/enabled-npm-2.0.0-bf5d96c9d8-fdffd21e02.zip
.yarn/cache/fast-glob-npm-3.2.7-a2f0a45f5b-819aa8f1c0.zip
.yarn/cache/fecha-npm-4.2.1-40d84f7733-17e08368e2.zip
.yarn/cache/flatpickr-npm-4.6.1-c1e46c3700-98486bd9e3.zip
.yarn/cache/fn.name-npm-1.1.0-b472333184-e33a39ffd6.zip
.yarn/cache/got-npm-11.8.2-c1eb105458-6415f98ec2.zip
.yarn/cache/http-cache-semantics-npm-4.1.0-860520a31f-451df9784a.zip
.yarn/cache/http2-wrapper-npm-1.0.3-5b58ade1df-2fc0140a69.zip
.yarn/cache/invariant-npm-2.2.4-717fbdb119-96d8a2a4f0.zip
.yarn/cache/json-buffer-npm-3.0.1-f8f6d20603-78011309cb.zip
.yarn/cache/keyv-npm-4.0.3-4018fb536e-63527e3d01.zip
.yarn/cache/kuler-npm-2.0.0-19e74c9695-801e252e7b.zip
.yarn/cache/lodash.debounce-npm-4.0.8-f1d6e09799-b6042bd8c0.zip
.yarn/cache/lodash.findlast-npm-4.6.0-1e52a8cabb-a537456e78.zip
.yarn/cache/lodash.isequal-npm-4.5.0-f8b0f64d63-5b47e09464.zip
.yarn/cache/lodash.omit-npm-4.5.0-786639f9a0-b0bca85eb1.zip
.yarn/cache/resolve-alpn-npm-1.2.1-af77edd28b-d009cb9e77.zip
.yarn/cache/resize-observer-polyfill-npm-1.5.1-603120e8a0-ba14bfaf58.zip
.yarn/cache/responselike-npm-2.0.0-7813864e97-11d8225dd8.zip
.yarn/cache/stack-trace-npm-0.0.10-9460b173e1-8e567bd9dc.zip
.yarn/cache/safe-stable-stringify-npm-1.1.1-1c282e1c55-90e9f376e1.zip
.yarn/cache/text-hex-npm-1.0.0-22389e4d56-e0ee87d183.zip
.yarn/cache/triple-beam-npm-1.3.0-eda4e2a46c-806ab08b30.zip
.yarn/cache/unique-string-npm-2.0.0-3153c97e47-a2748b41ea.zip
.yarn/cache/use-resize-observer-npm-6.1.0-5ee3475eb2-244082c119.zip
.yarn/cache/warning-npm-3.0.0-125973e5cc-91371f1e41.zip
.yarn/cache/window-or-global-npm-1.0.1-16f37eb542-7bb01361ba.zip
.yarn/cache/winston-npm-3.3.3-3fa4527b42-8a9d69c642.zip
.yarn/cache/winston-transport-npm-4.4.0-e1b3134c1e-16050844d2.zip
.yarn/cache/wrap-ansi-npm-7.0.0-ad6e1a0554-09939dd775.zip
.yarn/cache/xdg-basedir-npm-4.0.0-ed08d380e2-928953cb7d.zip
.yarn/cache/y18n-npm-5.0.8-5f3a0a7e62-56275bfa72.zip
.yarn/cache/yargs-npm-16.2.0-547873d425-a79ce1f043.zip
.yarn/cache/@szmarczak-http-timer-npm-4.0.6-6ace00d82d-51297e5f70.zip
.yarn/cache/@types-http-cache-semantics-npm-4.0.1-90863c7a3e-16b8d0c7ea.zip
.yarn/cache/@types-keyv-npm-3.1.3-8864e3cbf3-dc64162bd0.zip
.yarn/cache/@types-responselike-npm-1.0.0-85dd08af42-e6e6613c80.zip
.yarn/cache/cacheable-request-npm-7.0.2-e64cc641fc-176a1fceb9.zip
.yarn/cache/cacheable-lookup-npm-5.0.4-8f13e8b44b-cb5849f584.zip
.yarn/cache/async-npm-3.2.1-0f8dd27e98-2ec69da226.zip
.yarn/cache/carbon-components-npm-10.25.0-73940687fc-9c91507044.zip
.yarn/cache/carbon-components-react-npm-7.25.0-9d19db30f2-8a62ffa53d.zip
.yarn/cache/lowercase-keys-npm-2.0.0-1876065a32-4da67f4186.zip
.yarn/cache/lodash.throttle-npm-4.1.1-856641af92-d9107c7903.zip
.yarn/cache/glob-parent-npm-5.1.2-021ab32634-82fcaa4ce1.zip
.yarn/cache/classnames-npm-2.2.6-98e9901cf4-490eaeca59.zip
.yarn/cache/logform-npm-2.3.0-13155f7f21-ca7836cd32.zip
.yarn/cache/micromatch-npm-4.0.4-9fdcbb7a0e-bc522ad93c.zip
.yarn/cache/mimic-response-npm-1.0.1-f6f85dde84-64b43c717e.zip
.yarn/cache/mimic-response-npm-3.1.0-a4a24b4e96-cfbf19f66d.zip
.yarn/cache/normalize-url-npm-6.1.0-b95bc12ece-5fb69e98c1.zip
.yarn/cache/one-time-npm-1.0.0-aeaad5e524-f1efa31ce3.zip
.yarn/cache/p-cancelable-npm-2.1.1-9388305f02-0ce643f3c9.zip
.yarn/cache/quick-lru-npm-5.1.1-e38e0edce3-fafb2b2fa1.zip
.yarn/cache/picomatch-npm-2.3.0-5e60e6c82d-80113a0fb7.zip
.yarn/cache/carbon-icons-npm-7.0.7-a0d95b025d-144c100019.zip
.yarn/cache/@types-cacheable-request-npm-6.0.2-894b6992d5-ea7ed6ef44.zip
.yarn/cache/whatwg-fetch-npm-3.6.2-4bdf324792-eaa370015f.zip
.yarn/cache/value-equal-npm-1.0.1-7811e93c9b-ae8cc7bbb2.zip
.yarn/cache/ua-parser-js-npm-0.7.28-83c4e4d878-bf65a24eb4.zip
.yarn/cache/tiny-warning-npm-1.0.3-750b7a07c4-6cf9f66cb7.zip
.yarn/cache/tiny-invariant-npm-1.1.0-105cc1fc8e-64318fbd77.zip
.yarn/cache/resolve-pathname-npm-3.0.0-bab4d7e47c-88ed8b3dd2.zip
.yarn/cache/react-router-npm-5.0.0-2a41dc4fa6-1fa5cf79cf.zip
.yarn/cache/react-router-dom-npm-5.0.0-b03b2d1930-d68132fa81.zip
.yarn/cache/create-react-context-npm-0.2.3-a8f8fc0c68-eb4146dfae.zip
.yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
.yarn/cache/encoding-npm-0.1.13-82a1837d30-282d5696a4.zip
.yarn/cache/fbjs-npm-0.8.17-9a02cb2222-fa37e4dfa8.zip
.yarn/cache/gud-npm-1.0.0-9747ac46ec-08be6bf30e.zip
.yarn/cache/history-npm-4.10.1-ee217563ae-3b302b54c0.zip
.yarn/cache/hoist-non-react-statics-npm-3.3.2-e7b709e6c1-d3e3791d6e.zip
.yarn/cache/iconv-lite-npm-0.6.3-24b8aae27e-9b4f24db66.zip
.yarn/cache/isarray-npm-0.0.1-92e37e0a70-daeda3c236.zip
.yarn/cache/whatwg-fetch-npm-3.6.2-4bdf324792-eaa370015f.zip
.yarn/cache/value-equal-npm-1.0.1-7811e93c9b-ae8cc7bbb2.zip
.yarn/cache/ua-parser-js-npm-0.7.28-83c4e4d878-bf65a24eb4.zip
.yarn/cache/tiny-warning-npm-1.0.3-750b7a07c4-6cf9f66cb7.zip
.yarn/cache/tiny-invariant-npm-1.1.0-105cc1fc8e-64318fbd77.zip
.yarn/cache/resolve-pathname-npm-3.0.0-bab4d7e47c-88ed8b3dd2.zip
.yarn/cache/react-router-npm-5.0.0-2a41dc4fa6-1fa5cf79cf.zip
.yarn/cache/react-router-dom-npm-5.0.0-b03b2d1930-d68132fa81.zip
.yarn/cache/create-react-context-npm-0.2.3-a8f8fc0c68-eb4146dfae.zip
.yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
.yarn/cache/encoding-npm-0.1.13-82a1837d30-282d5696a4.zip
.yarn/cache/fbjs-npm-0.8.17-9a02cb2222-fa37e4dfa8.zip
.yarn/cache/gud-npm-1.0.0-9747ac46ec-08be6bf30e.zip
.yarn/cache/history-npm-4.10.1-ee217563ae-3b302b54c0.zip
.yarn/cache/hoist-non-react-statics-npm-3.3.2-e7b709e6c1-d3e3791d6e.zip
.yarn/cache/iconv-lite-npm-0.6.3-24b8aae27e-9b4f24db66.zip
.yarn/cache/isarray-npm-0.0.1-92e37e0a70-daeda3c236.zip
*.zip
.yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
.yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
*.zip
.yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
